.features {
  background: #fff;
  padding: 8rem 5rem 3rem;
}

.features-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.features-content {
  margin: auto;
}

.features-title {
  color: #8f1709;
  text-align: center;
  font-size: 42px;
  text-align: center;
  font-weight: 700;
}

.features-content ul {
  line-height: 60px;
  font-size: 1.2rem;
  color: #8590a2;
  font-weight: 400;
}

.stats-wrapper {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  border-style: dashed;
  border-width: 1px;
  border-color: #8f1709;
  border-left: none;
  border-right: none;
  margin-top: 3rem;
  padding: 2rem 0 1rem;
}

.fpi-registered,
.pan-allocated {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stats-wrapper span {
  color: #000;
  border: 1px solid #000;
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem 3.5rem;
  font-size: 1.5rem;
}

.stats-wrapper p {
  /* padding-top: 2rem; */
  color: #8f1709;
}

.demat-journey {
  color: #8f1709;
  text-align: center;
}

.demat-journey h3 {
  font-weight: 500;
  // margin-top: 0;
}

.demat-journey button {
  color: #000;
  border: 1px solid #000;
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background: transparent;
}

@media screen and (max-width: 1024px) {
  .features-wrapper {
    grid-template-columns: 1fr;
  }

  .stats-wrapper {
    flex-direction: column;
  }

  .fpi-registered,
  .pan-allocated {
    align-items: center;
  }

  .demat-journey {
    margin: 2rem auto;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .features {
    padding: 8rem 2rem 3rem;
  }
}