<div class="sidebar" [class.toggled]="isToggled">
  <button class="toggle-btn" (click)="toggleSidebar()">
    <i
      class="pi"
      [ngClass]="isToggled ? 'pi-angle-right' : 'pi-angle-left'"
    ></i>
  </button>
  <p-panelmenu [model]="items">
    <ng-template #item let-item>
      <ng-container *ngIf="item.route; else urlRef">
        <a (click)="navigateTo(item.route)" class="link-item">
          <span [class]="item.icon"></span>
          <span class="item-label">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #urlRef>
        <a *ngIf="item.url; else noLink" [href]="item.url" class="link-item">
          <span [class]="item.icon"></span>
          <span class="item-label">{{ item.label }}</span>
        </a>
        <ng-template #noLink>
          <span class="wrap">
            <span [class]="item.icon"></span>
            <span id="label">{{ item.label }}</span>
            <i *ngIf="item.items" class="pi pi-angle-down"></i>
          </span>
        </ng-template>
      </ng-template>
    </ng-template>
  </p-panelmenu>
</div>
