<form [formGroup]="formGroup">
  <div class="add-document">
    <p-toast></p-toast>

    <p-table [value]="[1]" [showGridlines]="true">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Document Type</th>
          <th scope="col">Selected Document</th>
          <th scope="col">Upload Document</th>
          <th scope="col">Status</th>
        </tr>
      </ng-template>
    
      <ng-template pTemplate="body">
        <!-- POA Row -->
        <tr>
          <td>POA</td>
          <td>
            <span >
              {{ POAdocumentIdentifier || "Pending" }}
            </span>
          </td>
          <td>
            
            <ng-container *ngIf="getKycDocument('POA')?.documentPath; else poaUploadTemplate">
              <div class="button-group">
              <button pButton label="View" icon="pi pi-eye"
                (click)="viewDocument(getKycDocument('POA')?.documentPath)"
                class="p-button-sm p-button-info"></button>
              <button pButton label="Delete" icon= "pi pi-trash"
                (click)="deleteFixedDocument(getKycDocument('POA')?.documentPath);  $event.preventDefault()"
                class="p-button-sm p-button-danger ml-2"></button>
             </div>
            </ng-container>
            <ng-template #poaUploadTemplate>
              <p-fileupload name="document"
                [customUpload]="true"
                [auto]="false"
                (uploadHandler)="uploadFixedFile('POA')"
                accept="application/pdf"
                maxFileSize="10000000"
                mode="advanced"
                (onSelect)="onFixedSelect($event, 'POA')"
                (onClear)="onFixedClear($event, 'POA')"
                [formControl]="getUploadControl('POA')">
              </p-fileupload>
              <div class="text-danger" *ngIf="getUploadControl('POA').invalid && (getUploadControl('POA').dirty || getUploadControl('POA').touched)">
                File is required.
              </div>
            </ng-template>
          </td>
          <td>
            <span *ngIf="getKycDocument('POA') as document">
              {{ document.documentPath ? "Uploaded" : "Pending" }}
            </span>
          </td>
        </tr>
    
        <!-- POI Row -->
        <tr>
          <td>POI</td>
          <td>
            <span >
              {{ POIdocumentIdentifier || "Pending" }}
            </span>
          </td>
          <td>
            <ng-container *ngIf="getKycDocument('POI')?.documentPath; else poiUploadTemplate">
              <div class="button-group">
              <button pButton label="View" icon="pi pi-eye"
                (click)="viewDocument(getKycDocument('POI')?.documentPath)"
                class="p-button-sm p-button-info"></button>
              <button pButton label="Delete" icon="pi pi-trash"
                (click)="deleteFixedDocument(getKycDocument('POI')?.documentPath);  $event.preventDefault()"
                class="p-button-sm p-button-danger ml-2"></button>
              </div>
            </ng-container>
            <ng-template #poiUploadTemplate>
              <p-fileupload name="document"
                [customUpload]="true"
                [auto]="false"
                (uploadHandler)="uploadFixedFile('POI')"
                accept="application/pdf"
                maxFileSize="10000000"
                mode="advanced"
                (onSelect)="onFixedSelect($event, 'POI')"
                (onClear)="onFixedClear($event, 'POI')"
                [formControl]="getUploadControl('POI')">
              </p-fileupload>
              <div class="text-danger" *ngIf="getUploadControl('POI').invalid && (getUploadControl('POI').dirty || getUploadControl('POI').touched)">
                File is required.
              </div>
            </ng-template>
          </td>
          <td>
            <span *ngIf="getKycDocument('POI') as document">
              {{ document.documentPath ? "Uploaded" : "Pending" }}
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>


    
    

    <!-- Note for fixed documents -->
    <p>
      (Note For PAN Application of Non-individual applicants, Certificate of FPI
      Registration granted by Designated Depository Participant (DDP) on behalf
      of SEBI shall be forwarded to Income Tax Department of India for PAN
      allotment.)
    </p>
    <p>Note: Only PDF format is allowed.</p>
    <p *ngIf="!isQuestion14Complete" style="color: red; font-weight: bold">
      Document uploads for POA and POI are disabled. Please complete Step 1,
      Question 14 to enable uploads.
    </p>
    <p-table [value]="documents" class="p-datatable-gridlines p-mt-3">
      <ng-template pTemplate="header">
        <tr>
          <th>Document Name</th>
          <th>File Upload</th>
          <th>Status</th>
        </tr>
      </ng-template>
    
      <ng-template pTemplate="body" let-doc>
        <tr>
          <td>{{ doc.name }}</td>
    
          <td>
            <p-fileUpload
              name="file"
              [customUpload]="true"
              [multiple]="false"
              [auto]="false"
              mode="advanced"
              [showUploadButton]="true"
              [showCancelButton]="true"
              chooseLabel="Choose"
              uploadLabel="Upload"
              cancelLabel="Clear"
              (uploadHandler)="onAdvancedUpload($event, doc.type)"
              [disabled]="!!doc.documentPath"
              [style]="{ width: '100%' }"
            ></p-fileUpload>
    
            <div *ngIf="doc.documentPath" class="mt-2">
              <button
                pButton
                type="button"
                icon="pi pi-eye"
                class="p-button-text p-button-sm mr-2"
                (click)="onViewFile(doc.documentPath)"
              >
                View
              </button>
    
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-danger p-button-sm"
                (click)="onDeleteFile(doc)"
              >
                Delete
              </button>
            </div>
          </td>
    
          <td>
            <i *ngIf="doc.status === 'Uploaded'" class="pi pi-check-circle text-green-600 mr-2"></i>
            <i *ngIf="doc.status === 'Pending'" class="pi pi-clock text-gray-500 mr-2"></i>
            {{ doc.status }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    
    
    <!-- Additional Supporting Documents Section -->
    <h3>Additional Supporting Documents</h3>
    <h3>Additional Supporting Documents</h3>
<p-table [value]="additionalDocuments" [showGridlines]="true">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Document Description</th>
      <th scope="col">Upload / View / Delete</th>
      <th scope="col">Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-addDoc let-i="rowIndex">
    <tr>
      <!-- Document Description -->
      <td>
        <input type="text"
               pInputText
               placeholder="Enter document description"
               [disabled]="addDoc.documentPath"
               [(ngModel)]="addDoc.documentDescription"
               name="docDesc{{ i }}"
               [ngModelOptions]="{ standalone: true }" />
      </td>
  
      <!-- Upload / View / Delete -->
      <td>
        <ng-container *ngIf="addDoc.documentPath && addDoc.documentPath !== ''; else uploadTemplate">
          <div class="button-group">
          <button pButton type="button" label="View" icon="pi pi-eye"
                  (click)="viewDocument(addDoc.documentPath)"
                  class="p-button-sm p-button-info"></button>
          <button pButton type="button" label="Delete" icon="pi pi-trash"
                  (click)="deleteFixedDocument(addDoc.documentPath)"
                  class="p-button-sm p-button-danger ml-2"></button>
                  </div>
        </ng-container>
        
  
        <ng-template #uploadTemplate>
          <p-fileupload name="additionalDocument"
                        [customUpload]="true"
                        [auto]="false"
                        accept="application/pdf"
                        maxFileSize="10000000"
                        mode="advanced"
                        (onSelect)="onAdditionalSelect($event, i)"
                        (onClear)="onAdditionalClear($event, i)"
                        (uploadHandler)="uploadAdditionalDocument(i)">
          </p-fileupload>
        </ng-template>
      </td>
  
      <!-- Status -->
      <td>
        <span>{{ addDoc.documentPath ? "Uploaded" : "Pending" }}</span>
      </td>
    </tr>
  </ng-template>
  
</p-table>
    <!-- Button to add an additional document row -->
    <div class="button-wrapper">
      <button class="primary-button" type="button" (click)="addAdditionalDocument()"
        [disabled]="!canAddAdditionalDocument()">
        Add Additional Document
      </button>
    </div>
  </div>
</form>
<p-confirmDialog [style]="{ width: '450px' }" />
<app-loader *ngIf="showLoader"></app-loader>