<p-toast></p-toast>
<app-header></app-header>

<div class="new-password-wrapper">
  <div class="new-password-text">
    <h1>
      Technology, <br />
      <span> Trust & Reach </span>
    </h1>
    <p>
      Foreign Investment inflow is an important reason for India's economic
      growth. So to simplify compliance requirements and have uniform guidelines
      for various categories of foreign investors like Foreign Institutional
      Investors (FIIs), Sub Accounts and Qualified Foreign Investors (QFIs)
      merged into a new investor class termed as Foreign Portfolio Investors
      (FPIs).
      <!-- <a href="#"> Show More </a> -->
    </p>
    <button
      routerLink="/auth/register"
      pButton
      icon="pi pi-angle-right"
      iconPos="right"
      pRipple
      label="Get Started"
      id="get-started"
    ></button>
  </div>

  <p-card class="p-card" id="new-password-card">
    <form (ngSubmit)="onSubmit()" id="new-password-form-card">
      <h2>Set New Password</h2>

      <div class="p-field">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          [(ngModel)]="newPassword"
          name="newPassword"
          pInputText
          required
        />
      </div>

      <div class="p-field">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          pInputText
          required
        />
      </div>

      <button
        type="submit"
        pButton
        label="Update Password"
        [disabled]="showLoader"
      ></button>
    </form>
  </p-card>
</div>

<app-footer></app-footer>
<p-confirmDialog [style]="{ width: '450px' }" />
<app-loader *ngIf="showLoader"></app-loader>
