<app-header></app-header>
<main>
    <div class="announcement-header">
        <h1>Announcements</h1>
    </div>
    <div class="table-container">
        <p-table
          [value]="tableData"
          showGridlines
          [responsiveLayout]="'scroll'"
          class="p-datatable-striped"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Date</th>
              <th scope="col" class="sub-labels">Name</th>
              <th scope="col" class="sub-labels">Download</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
              <td>{{ item.date }}</td>
              <td>{{ item.name }}</td>
              <td>
                  <p-button 
                    icon="pi pi-download" 
                    label="Download" 
                    class="announcement-btn"
                    (onClick)="downloadFile(item, i)"
                  ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
    </div>
</main>
<app-footer></app-footer>