<!-- <div class="sws">
  <h1>
    Single Window Services
  </h1>
  <div class="sws-grid">
    <div class="sws-wrapper">
      <img [src]="sws_main" alt="" />
    </div>
    <div class="sws-grid-wrapper">
      <div class="sws-grid-items">
        <p-card header="Know Your Customer">
          <span>
            <p>
              Describe what this feature does, and how it benefits your
              customers. view more
            </p>
          </span>
          <img [src]="sws1" alt="Single Window Services" class="sws-icons" />
        </p-card>
        <p-card header="Demat Opening">
          <div>
            <p>
              Describe what this feature does, and how it benefits your
              customers. view more
            </p>
          </div>
          <img [src]="sws2" alt="Single Window Services" class="sws-icons" />
        </p-card>
        <p-card header="FPI Registration">
          <div>
            <p>
              Describe what this feature does, and how it benefits your
              customers. view more
            </p>
          </div>
          <img [src]="sws3" alt="Single Window Services" class="sws-icons" />
        </p-card>
        <p-card header="PAN Registration">
          <div>
            <p>
              Describe what this feature does, and how it benefits your
              customers. view more
            </p>
          </div>
          <img [src]="sws4" alt="Single Window Services" class="sws-icons" />
        </p-card>
      </div>
      <p-card header="FVCI Registration" class="single-item">
        <div>
          <p>
            Describe what this feature does, and how it benefits your customers.
            view more
          </p>
        </div>
        <img [src]="sws4" alt="Single Window Services" class="sws-icons" />
      </p-card>
    </div>
  </div>
</div> -->


<div class="sws">
  <h1>
    Single Window Services
    <!-- <a>See all</a> -->
  </h1>
  <div class="sws-grid">
    <div class="sws-wrapper">
      <img [src]="sws_main" alt="" />
    </div>
    <div class="sws-grid-wrapper">
      <div class="sws-grid-items">
        <p-card header="FPI Registration">
          <div>
            <p>
              Describe what this feature does, and how it benefits your
              customers. view more
            </p>
            <!-- <a routerLink="/auth/register">Learn More</a> -->
          </div>
          <img [src]="sws3" alt="Single Window Services" class="sws-icons" />
        </p-card>
        <p-card header="FVCI Registration">
          <div>
            <p>
              Describe what this feature does, and how it benefits your customers.
              view more
            </p>
            <!-- <a routerLink="/auth/register">Learn More</a> -->
          </div>
          <img [src]="sws4" alt="Single Window Services" class="sws-icons" />
        </p-card>
        <p-card header="PAN Registration">
          <div>
            <p>
              Describe what this feature does, and how it benefits your
              customers. view more
            </p>
            <!-- <a routerLink="/auth/register">Learn More</a> -->
          </div>
          <img [src]="sws4" alt="Single Window Services" class="sws-icons" />
        </p-card>
        <p-card header="Know Your Customer">
          <span>
            <p>
              Describe what this feature does, and how it benefits your
              customers. view more
            </p>
            <!-- <a routerLink="/auth/register">Learn More</a> -->
          </span>
          <img [src]="sws1" alt="Single Window Services" class="sws-icons" />
        </p-card>
      </div>
      <p-card header="Demat Opening" class="single-item">
        <div>
          <p>
            Describe what this feature does, and how it benefits your
            customers. view more
          </p>
          <!-- <a routerLink="/auth/register">Learn More</a> -->
        </div>
        <img [src]="sws2" alt="Single Window Services" class="sws-icons" />
      </p-card>
    </div>
  </div>
</div>