<form [formGroup]="formGroup">
  <div class="input-group">
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name">1) Name of the Applicant <span>*</span></label>
      <div
        pTooltip="Full expanded name to be mentioned as appearing in proof of identity/address documents, the name should be provided without any abbreviations."
        tooltipPosition="right"
      >
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <input
      type="text"
      pInputText
      formControlName="name"
      placeholder="Enter Your Name"
    />
    <div
      *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched"
      class="error"
    >
      Name is required.
    </div>
  </div>

  <div class="input-group">
    <!-- <div style="display: flex; gap: 0.5rem; align-items: center">
              <label for="name"
                >2) Have you ever been known by any other name?
                <span>*</span></label
              >
              <div pTooltip="Enter your username" tooltipPosition="right">
                <i
                  class="pi pi-info-circle"
                  style="font-size: 14px; color: #748297"
                ></i>
              </div>
            </div> -->

    <div style="display: flex; gap: 3rem">
      <div style="display: flex; gap: 0.5rem; align-items: center">
        <label for="name"
          >2) Have you ever been known by any other name? <span>*</span></label
        >
        <div
          pTooltip="If yes, please give the other name"
          tooltipPosition="right"
        >
          <i
            class="pi pi-info-circle"
            style="font-size: 14px; color: #748297"
          ></i>
        </div>
      </div>
      <div
        role="radiogroup"
        aria-labelledby="userTypeLabel"
        style="display: flex; gap: 3rem"
      >
        <div class="radio">
          <p-radiobutton
            name="knownByOtherName"
            value="yes"
            inputId="knownByOtherNameYes"
            formControlName="knownByOtherName"
          ></p-radiobutton>
          <label for="knownByOtherNameYes" class="radio-label">Yes</label>
        </div>
        <div class="radio">
          <p-radiobutton
            name="knownByOtherName"
            value="knownByOtherNameNo"
            inputId="globalCustodian"
            formControlName="knownByOtherName"
          ></p-radiobutton>
          <label for="knownByOtherNameNo" class="radio-label">No</label>
        </div>
      </div>
    </div>
    <input
      *ngIf="formGroup.get('knownByOtherName')?.value === 'yes'"
      type="text"
      pInputText
      formControlName="otherName1"
      placeholder="Enter Other Name"
    />
    <div
      *ngIf="
        formGroup.get('otherName1')?.invalid &&
        formGroup.get('otherName1')?.touched &&
        formGroup.get('knownByOtherName')?.value === 'yes'
      "
      class="error"
    >
      This field is required.
    </div>
  </div>

  <div class="input-group">
    <!-- <label for="date"
              >3) Date of Incorporation/ Establishment/ Formation
              <span>*</span></label
            > -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name"
        >3) Date of Incorporation/ Establishment/ Formation
        <span>*</span></label
      >
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <p-table
      showGridlines
      [value]="data"
      [responsiveLayout]="'scroll'"
      class="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th class="sub-labels">Particulars</th>
          <th class="sub-labels">Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>
            <p-datepicker
              formControlName="date"
              [showIcon]="true"
              [appendTo]="'body'"
            ></p-datepicker>
            <!-- <div
                      *ngIf="
                        formGroup.get('date')?.invalid &&
                        formGroup.get('date')?.touched
                      "
                      class="error"
                    >
                      Date is required.
                    </div> -->
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="input-group">
    <!-- <label for="name"
              >4) Place and Country of Incorporation/ Establishment/ Formation
              <span>*</span></label
            > -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name"
        >4) Place and Country of Incorporation/ Establishment/ Formation
        <span>*</span></label
      >
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <p-table
      [value]="tableData"
      showGridlines
      [responsiveLayout]="'scroll'"
      class="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th class="sub-labels">Particulars</th>
          <th class="sub-labels">Details</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>
            <input
              type="text"
              pInputText
              formControlName="text"
              placeholder="{{ item.placeHolder }}"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="input-group">
    <!-- <label for="otherName"
              >5) Legal form of the applicant and the law under which it is
              incorporated, established or registered <span>*</span></label
            > -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name"
        >5) Legal form of the applicant and the law under which it is
        incorporated, established or registered <span>*</span></label
      >
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <input type="text" pInputText placeholder="Enter Legal Form" />
    <div
      *ngIf="
        formGroup.get('legalForm')?.invalid &&
        formGroup.get('legalForm')?.touched
      "
      class="error"
    >
      This field is required.
    </div>
  </div>

  <div class="input-group">
    <!-- <label
              >6) Place and Country of Incorporation/ Establishment/ Formation
              <span>*</span></label
            > -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name"
        >6) Place and Country of Incorporation/ Establishment/ Formation
        <span>*</span></label
      >
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <!-- <label for="name" class="sub-labels"
              >Legal Entity Identifier (LEI), if applicable</label
            > -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name" class="sub-labels"
        >Legal Entity Identifier (LEI), if applicable</label
      >
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <input
      type="text"
      pInputText
      formControlName="name"
      placeholder="Enter Details"
    />
    <div
      *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched"
      class="error"
    >
      This field is is required.
    </div>

    <p-table
      [value]="taxRows.controls"
      showGridlines
      [responsiveLayout]="'scroll'"
      class="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th class="sub-labels">Tax Residency Certificate (TRC) No.</th>
          <th class="sub-labels">Country of Tax Residency</th>
          <th class="sub-labels">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowForm let-index="rowIndex">
        <tr [formGroup]="rowForm" class="table-header">
          <td>{{ rowForm.get("id").value }}</td>
          <td>
            <input
              type="text"
              pInputText
              formControlName="trcNo"
              placeholder="Enter Details"
            />
          </td>
          <td>
            <input
              type="text"
              pInputText
              formControlName="country"
              placeholder="Enter Details"
            />
          </td>
          <td>
            <p-button
              *ngIf="index === taxRows.length - 1"
              icon="pi pi-plus"
              [rounded]="true"
              (onClick)="addNewRow()"
            />
            <p-button
              *ngIf="taxRows.length === 1"
              icon="pi pi-trash"
              [rounded]="true"
              severity="danger"
              disabled="true"
            />
            <p-button
              *ngIf="taxRows.length > 1"
              icon="pi pi-trash"
              [rounded]="true"
              severity="danger"
              (onClick)="removeRow(index)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="input-group">
    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
      "
    >
      <!-- <label>7) Address & Communication Details <span>*</span></label>
              <label for="" class="sub-labels"
                >7.1) Registered/ Residence Address of the Applicant
                <span>*</span></label
              > -->
      <div style="display: flex; gap: 0.5rem; align-items: center">
        <label for="name"
          >7) Address & Communication Details <span>*</span></label
        >
        <div pTooltip="Enter your username" tooltipPosition="right">
          <i
            class="pi pi-info-circle"
            style="font-size: 14px; color: #748297"
          ></i>
        </div>
      </div>
      <div style="display: flex; gap: 0.5rem; align-items: center">
        <label for="name" class="sub-labels"
          >7.1) Registered/ Residence Address of the Applicant
          <span>*</span></label
        >
        <div pTooltip="Enter your username" tooltipPosition="right">
          <i
            class="pi pi-info-circle"
            style="font-size: 14px; color: #748297"
          ></i>
        </div>
      </div>
    </div>
    <div class="input-grid" style="margin-bottom: 1.5rem">
      <div class="input-item">
        <label>Flat / Room / Door / Block No / Apartment</label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Details"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>Name of Premises/Building</label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Name of Premises/Building"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>Country Name <span>*</span></label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Country Name"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
    </div>

    <div class="input-grid" style="margin-bottom: 1.5rem">
      <div class="input-item">
        <label>Road / Street / Lane / Post Office</label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Details"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>Area / Locality /Sub-Division</label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Details"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>Town / City / District  <span>*</span></label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Town/City/District"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
    </div>

    <div class="input-grid" style="margin-bottom: 1.5rem">
      <div class="input-item">
        <label>Zip Code  <span>*</span></label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Zip Code"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>State  <span>*</span></label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter State"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
    </div>

    <div
      style="display: flex; align-items: center; gap: 3rem; margin-bottom: 2rem"
    >
      <p-checkbox value="New York" inputId="ny" />
      <!-- <label for="ny" class="sub-labels">Not applicable?</label>
              <div pTooltip="Enter your username" tooltipPosition="right">
                <i
                  class="pi pi-question-circle"
                  style="font-size: 14px; color: #748297"
                ></i>
              </div> -->
      <div style="display: flex; gap: 0.5rem; align-items: center">
        <label for="name" class="sub-labels">Not applicable?</label>
        <div pTooltip="Enter your username" tooltipPosition="right">
          <i
            class="pi pi-question-circle"
            style="font-size: 14px; color: #748297"
          ></i>
        </div>
      </div>
    </div>

    <div class="address-text" style="margin-bottom: 1rem">
      <div style="display: flex; gap: 0.5rem; align-items: center">
        <label for="name" class="sub-labels"
          >7.2) Office Address of the Applicant (Foreign)  </label
        >
        <div pTooltip="Enter your username" tooltipPosition="right">
          <i
            class="pi pi-info-circle"
            style="font-size: 14px; color: #748297"
          ></i>
        </div>
      </div>
      <p-checkbox value="New York" inputId="ny" />
      <label for="ny" class="sub-labels">Same as above</label>
    </div>

    <div class="input-grid" style="margin-bottom: 1.5rem">
      <div class="input-item">
        <label>Flat / Room / Door / Block No / Apartment</label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Details"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>Name of Premises/Building</label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Name of Premises/Building"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>Country Name <span>*</span></label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Country Name"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
    </div>

    <div class="input-grid" style="margin-bottom: 1.5rem">
      <div class="input-item">
        <label>Road / Street / Lane / Post Office</label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Details"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>Area / Locality /Sub-Division</label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Details"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>Town / City / District  <span>*</span></label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Town/City/District"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
    </div>

    <div class="input-grid" style="margin-bottom: 1.5rem">
      <div class="input-item">
        <label>Zip Code  <span>*</span></label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter Zip Code"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
      <div class="input-item">
        <label>State  <span>*</span></label>
        <input
          type="text"
          pInputText
          formControlName="otherName"
          placeholder="Enter State"
        />
        <div
          *ngIf="
            formGroup.get('otherName')?.invalid &&
            formGroup.get('otherName')?.touched
          "
          class="error"
        >
          This field is required.
        </div>
      </div>
    </div>

    <div class="office">
      <div style="display: flex; gap: 3rem; align-items: center">
        <div style="display: flex; gap: 0.5rem; align-items: center">
          <label for="name" class="sub-labels"
            >Do You Have Office in India ?</label
          >
          <div pTooltip="Enter your username" tooltipPosition="right">
            <i
              class="pi pi-info-circle"
              style="font-size: 14px; color: #748297"
            ></i>
          </div>
        </div>
        <div style="display: flex; gap: 2rem">
          <div style="display: flex; align-items: center">
            <p-radioButton
              name="doYouHaveOfficeInIndia"
              [value]="true"
              formControlName="doYouHaveOfficeInIndia"
              inputId="doYouHaveOfficeInIndiaYes"
            >
            </p-radioButton>
            <label
              for="doYouHaveOfficeInIndiaYes"
              class="sub-labels"
              style="margin-left: 1rem"
              >Yes</label
            >
          </div>
          <div style="display: flex; align-items: center">
            <p-radioButton
              name="doYouHaveOfficeInIndia"
              [value]="false"
              formControlName="doYouHaveOfficeInIndia"
              inputId="doYouHaveOfficeInIndiaNo"
            >
            </p-radioButton>
            <label
              for="doYouHaveOfficeInIndiaNo"
              class="sub-labels"
              style="margin-left: 1rem"
              >No</label
            >
          </div>
        </div>
      </div>
    </div>
    <!--************************Here**************************-->
    <div *ngIf="formGroup.get('doYouHaveOfficeInIndia')?.value === true">
      <div class="address-text" style="margin-bottom: 1rem">
        <div style="display: flex; gap: 0.5rem; align-items: center">
          <label for="name" class="sub-labels"
            >7.2.1) Indian Office Address of the Applicant  </label
          >
          <div pTooltip="Enter your username" tooltipPosition="right">
            <i
              class="pi pi-info-circle"
              style="font-size: 14px; color: #748297"
            ></i>
          </div>
        </div>
      </div>

      <div class="input-grid" style="margin-bottom: 1.5rem">
        <div class="input-item">
          <label>Flat / Room / Door / Block No / Apartment</label>
          <input
            type="text"
            pInputText
            formControlName="indianFlatNo"
            placeholder="Enter Details"
          />
          <div
            *ngIf="
              formGroup.get('indianFlatNo')?.invalid &&
              formGroup.get('indianFlatNo')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
        <div class="input-item">
          <label>Name of Premises/Building</label>
          <input
            type="text"
            pInputText
            formControlName="indianBuildingName"
            placeholder="Enter Name of Premises/Building"
          />
          <div
            *ngIf="
              formGroup.get('indianBuildingName')?.invalid &&
              formGroup.get('indianBuildingName')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
        <div class="input-item">
          <label>Country Name <span>*</span></label>
          <input
            type="text"
            pInputText
            formControlName="otherName"
            placeholder="Enter Country Name"
          />
          <div
            *ngIf="
              formGroup.get('otherName')?.invalid &&
              formGroup.get('otherName')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
      </div>
      <div class="input-grid" style="margin-bottom: 1.5rem">
        <div class="input-item">
          <label>Road / Street / Lane / Post Office</label>
          <input
            type="text"
            pInputText
            formControlName="otherName"
            placeholder="Enter Details"
          />
          <div
            *ngIf="
              formGroup.get('otherName')?.invalid &&
              formGroup.get('otherName')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
        <div class="input-item">
          <label>Area / Locality /Sub-Division</label>
          <input
            type="text"
            pInputText
            formControlName="otherName"
            placeholder="Enter Details"
          />
          <div
            *ngIf="
              formGroup.get('otherName')?.invalid &&
              formGroup.get('otherName')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
        <div class="input-item">
          <label>Town / City / District  <span>*</span></label>
          <input
            type="text"
            pInputText
            formControlName="otherName"
            placeholder="Enter Town/City/District"
          />
          <div
            *ngIf="
              formGroup.get('otherName')?.invalid &&
              formGroup.get('otherName')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
      </div>

      <div class="input-grid" style="margin-bottom: 1.5rem">
        <div class="input-item">
          <label>Zip Code  <span>*</span></label>
          <input
            type="text"
            pInputText
            formControlName="otherName"
            placeholder="Enter Zip Code"
          />
          <div
            *ngIf="
              formGroup.get('otherName')?.invalid &&
              formGroup.get('otherName')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
        <div class="input-item">
          <label>State  <span>*</span></label>
          <input
            type="text"
            pInputText
            formControlName="otherName"
            placeholder="Enter State"
          />
          <div
            *ngIf="
              formGroup.get('otherName')?.invalid &&
              formGroup.get('otherName')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
      </div>
    </div>
    <!--************************Here**************************-->
    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
      "
    >
      <!-- <label class="sub-labels"
                >7.3) Address of Communication/Correspondence
              </label> -->
      <div style="display: flex; gap: 0.5rem; align-items: center">
        <label for="name" class="sub-labels"
          >7.3) Address of Communication/Correspondence <span>*</span></label
        >
        <div pTooltip="Enter your username" tooltipPosition="right">
          <i
            class="pi pi-info-circle"
            style="font-size: 14px; color: #748297"
          ></i>
        </div>
      </div>
      <!-- <div style="display: flex; gap: 3rem; align-items: center">
                <div class="radio">
                  <p-checkbox value="New York" inputId="ny" />
                  <label for="ny" class="sub-labels"
                    >Registered / Residence</label
                  >
                </div>
                <div class="radio">
                  <p-checkbox value="New York" inputId="ny" />
                  <label for="ny" class="sub-labels"
                    >Office Address (Foreign)</label
                  >
                </div>
                <div class="radio" *ngIf="formGroup.get('doYouHaveOfficeInIndia')?.value === true">
                  <p-checkbox value="New York" inputId="ny" />
                  <label for="ny" class="sub-labels">Office Address India</label>
                </div>
              </div> -->
      <!--********************************************************-->
      <div style="display: flex; gap: 3rem; align-items: center">
        <div class="radio">
          <p-radioButton
            name="communicationAddress"
            value="registered"
            formControlName="communicationAddress"
            inputId="registeredAddress"
          ></p-radioButton>
          <label for="registeredAddress" class="sub-labels"
            >Registered / Residence</label
          >
        </div>
        <div class="radio">
          <p-radioButton
            name="communicationAddress"
            value="foreign"
            formControlName="communicationAddress"
            inputId="foreignAddress"
          ></p-radioButton>
          <label for="foreignAddress" class="sub-labels"
            >Office Address (Foreign)</label
          >
        </div>
        <div
          class="radio"
          *ngIf="formGroup.get('doYouHaveOfficeInIndia')?.value === true"
        >
          <p-radioButton
            name="communicationAddress"
            value="indian"
            formControlName="communicationAddress"
            inputId="indianAddress"
          ></p-radioButton>
          <label for="indianAddress" class="sub-labels"
            >Office Address India</label
          >
        </div>
      </div>
      <!--*********************************************************-->
    </div>
  </div>

  <div class="input-group">
    <!-- <label class="sub-labels">7.4) Contact Details </label> -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name" class="sub-labels">7.4) Contact Details </label>
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <p-table
      showGridlines
      [value]="contactData"
      [responsiveLayout]="'scroll'"
      class="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th rowspan="4"></th>
          <th rowspan="4" class="sub-labels">Particulars</th>
          <th rowspan="4" class="sub-labels">Type</th>
        </tr>
        <tr>
          <th class="sub-labels">Country Code</th>
          <th class="sub-labels">Area/STD Code</th>
          <th class="sub-labels">Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td rowspan="3">{{ item.id }}</td>
          <td rowspan="3">Telephone Number</td>
          <td>Registered / Residence</td>
          <td>
            <input type="number" pInputText placeholder="Enter Country Code" />
          </td>
          <td>
            <input type="number" pInputText placeholder="Enter Area Code" />
          </td>
          <td>
            <input type="number" pInputText placeholder="Enter Number" />
          </td>
        </tr>
        <tr>
          <td>Office</td>
          <td>
            <input type="number" pInputText placeholder="Enter Country Code" />
          </td>
          <td>
            <input type="number" pInputText placeholder="Enter Area Code" />
          </td>
          <td>
            <input type="number" pInputText placeholder="Enter Number" />
          </td>
        </tr>
        <tr *ngIf="formGroup.get('doYouHaveOfficeInIndia')?.value === true">
          <td>Indian Office</td>
          <td>
            <input type="number" pInputText placeholder="Enter Country Code" />
          </td>
          <td>
            <input type="number" pInputText placeholder="Enter Area Code" />
          </td>
          <td>
            <input type="number" pInputText placeholder="Enter Number" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="input-group">
    <!-- <label for="otherName"
              >10) Information regarding Ultimate Beneficial Owner (End Natural
              Person) <span>*</span></label
            > -->
    <!-- <div style="display: flex; gap: 0.5rem; align-items: center"> -->
    <label for="name"
      >10) Information regarding Ultimate Beneficial Owner (End Natural Person)
      <span>*</span>
      <i
        class="pi pi-info-circle"
        style="font-size: 14px; color: #748297; margin-left: 1rem"
        pTooltip="Enter your username"
        tooltipPosition="right"
      ></i
    ></label>
    <!-- <div pTooltip="Enter your username" tooltipPosition="right">
                <i
                  class="pi pi-info-circle"
                  style="font-size: 14px; color: #748297"
                ></i>
              </div> -->
    <!-- </div> -->
    <!-- <label for="otherName" id="owner" class="sub-labels"
              >10.1) Individual Custodian/DDPs may seek additional
              documentation/Ownership details at a lower threshold than
              prescribed, based on their independent evaluation and risk
              classification of the respective FPI applicants on the basis of
              multiple parameters such as home jurisdiction, type of entity,
              nature of business etc.
            </label> -->

    <div>
      <label for="name" class="sub-labels"
        >10.1) Individual Custodian/DDPs may seek additional
        documentation/Ownership details at a lower threshold than prescribed,
        based on their independent evaluation and risk classification of the
        respective FPI applicants on the basis of multiple parameters such as
        home jurisdiction, type of entity, nature of business etc.<i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297; margin-left: 1rem"
          pTooltip="Enter your username"
          tooltipPosition="right"
        ></i>
      </label>
      <!-- <div class="condition">
                <p-checkbox value="New York" inputId="ny" />
                <label for="ny" class="sub-labels"
                  >We Declare that there is no natural person/individual who are
                  ultimately holding beneficial Ownership directly/indirectly into
                  the entity as well as on controlling basis for companies,Trust &
                  General partner / Limited Partnership structure. We therefore
                  provide details of the senior managing official of the FPI as
                  under.
                </label>
              </div> -->
      <!-- <div class="condition">
                <p-checkbox value="New York" inputId="ny" />
                <label for="ny" class="sub-labels"
                  >The list of beneficial owner's as per materiality threshold for
                  controlling ownership interest and /or on control basis is
                  provided as under:
                </label>
              </div> -->
      <div
        class="condition"
        style="display: flex; flex-direction: column; gap: 3rem"
      >
        <div>
          <p-radioButton
            name="ultimateBeneficialOwner"
            [value]="false"
            formControlName="ultimateBeneficialOwner"
            inputId="ultimateBeneficialOwnerNo"
          >
          </p-radioButton>
          <label
            for="ultimateBeneficialOwnerNo"
            class="sub-labels"
            style="margin-left: 1rem"
            >We Declare that there is no natural person/individual who are
            ultimately holding beneficial Ownership directly/indirectly into the
            entity as well as on controlling basis for companies,Trust & General
            partner / Limited Partnership structure. We therefore provide
            details of the senior managing official of the FPI as under.</label
          >
        </div>
        <div style="display: flex; align-items: center">
          <p-radioButton
            name="ultimateBeneficialOwner"
            [value]="true"
            formControlName="ultimateBeneficialOwner"
            inputId="ultimateBeneficialOwnerYes"
          >
          </p-radioButton>
          <label
            for="ultimateBeneficialOwnerYes"
            class="sub-labels"
            style="margin-left: 1rem"
            >The list of beneficial owner's as per materiality threshold for
            controlling ownership interest and /or on control basis is provided
            as under</label
          >
        </div>
      </div>
    </div>

    <div *ngIf="formGroup.get('ultimateBeneficialOwner')?.value === true">
      <p-table
        [value]="taxRows.controls"
        showGridlines
        [responsiveLayout]="'scroll'"
        [style]="{ 'margin-left': '2rem', }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="sub-labels">
              Details of the senior managing official of the FPI
            </th>
            <th class="sub-labels">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowForm let-index="rowIndex">
          <tr [formGroup]="rowForm" class="table-header">
            <td>
              <p-accordion value="{{ index }}">
                <p-accordion-panel value="{{ index }}">
                  <p-accordion-header class="sub-labels"
                    >Senior managing official - {{ index + 1 }}
                  </p-accordion-header>
                  <p-accordion-content>
                    <p-table
                      [value]="detailsData"
                      showGridlines
                      [responsiveLayout]="'scroll'"
                      class="p-datatable-striped"
                    >
                      <ng-template pTemplate="header">
                        <tr class="table-header">
                          <th></th>
                          <th class="sub-labels">Particulars</th>
                          <th class="sub-labels">Details</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item>
                        <tr>
                          <td>{{ item.id }}</td>
                          <td id="table-text">{{ item.text }}</td>
                          <td>
                            <!-- Text Input -->
                            <input
                              *ngIf="item.type === 'text'"
                              type="text"
                              pInputText
                              placeholder="{{ item.placeHolder }}"
                            />
                            <!-- Date Picker -->
                            <p-datepicker
                              *ngIf="item.type === 'date'"
                              dateFormat="dd/mm/yy"
                              inputId="buttondisplay"
                              [showIcon]="true"
                              [appendTo]="'body'"
                              [style]="{ width: '100%' }"
                              placeholder="{{ item.placeHolder }}"
                            ></p-datepicker>
                            <!-- Dropdown -->
                            <p-select
                              *ngIf="item.type === 'dropdown'"
                              [options]="item.options"
                              placeholder="{{ item.placeHolder }}"
                              class="full-width"
                            ></p-select>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-accordion-content>
                </p-accordion-panel>
              </p-accordion>
            </td>
            <td id="action-btns">
              <p-button
                *ngIf="index === taxRows.length - 1"
                icon="pi pi-plus"
                [rounded]="true"
                (onClick)="addNewRow()"
              />
              <p-button
                *ngIf="taxRows.length === 1"
                icon="pi pi-trash"
                [rounded]="true"
                severity="danger"
                disabled="true"
              />
              <p-button
                *ngIf="taxRows.length > 1"
                icon="pi pi-trash"
                [rounded]="true"
                severity="danger"
                (onClick)="removeRow(index)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="residence" style="margin-left: -0.25rem">
      <label class="sub-labels"
        >10.2) Does it have few persons or persons of the same family holding
        beneficial ownership and control?
      </label>
      <!-- <p-checkbox value="New York" inputId="ny" />
              <label for="ny" class="sub-labels">Yes</label>
              <p-checkbox value="New York" inputId="ny" />
              <label for="ny" class="sub-labels">No</label> -->
      <div style="display: flex; gap: 2rem">
        <div style="display: flex; align-items: center">
          <p-radioButton
            name="beneficialOwnership"
            [value]="true"
            formControlName="beneficialOwnership"
            inputId="beneficialOwnershipYes"
          >
          </p-radioButton>
          <label
            for="beneficialOwnershipYes"
            class="sub-labels"
            style="margin-left: 1rem"
            >Yes</label
          >
        </div>
        <div style="display: flex; align-items: center">
          <p-radioButton
            name="beneficialOwnership"
            [value]="false"
            formControlName="beneficialOwnership"
            inputId="beneficialOwnershipNo"
          >
          </p-radioButton>
          <label
            for="beneficialOwnershipNo"
            class="sub-labels"
            style="margin-left: 1rem"
            >No</label
          >
        </div>
      </div>
    </div>
  </div>

  <div class="input-group2" style="margin-bottom: 3rem">
    <!-- <label for="otherName">11) Income details <span>*</span></label> -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name">11) Income Details <span>*</span></label>
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <div class="income-item2">
      <label class="sub-labels">a) Source of Income: </label>
      <!-- <p-select
                formControlName="selectedCity"
                [options]="cities"
                optionLabel="name"
                placeholder="Enter Source of Income"
              /> -->
      <input
        type="text"
        pInputText
        formControlName="text"
        placeholder="Enter Source of Income"
      />
    </div>
    <div class="income-item2">
      <label class="sub-labels">b) Code for Business / Profession: </label>
      <input
        type="text"
        pInputText
        formControlName="text"
        placeholder="Enter Code for Business / Profession"
      />
    </div>
    <div class="income-item2">
      <label class="sub-labels">c) Annual Income (in ₹) </label>
      <input
        type="text"
        pInputText
        formControlName="otherName"
        placeholder="Enter Your Income (in ₹)"
      />
    </div>
    <div class="income-item2">
      <label class="sub-labels">d) Asset-less liabilities (in ₹):</label>
      <input
        type="text"
        pInputText
        formControlName="otherName"
        placeholder="Specify Asset less liabilities (in ₹)"
      />
    </div>
  </div>

  <div class="input-group">
    <!-- <label for="idk"> 13) Type of entity <span>*</span> </label> -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name">13) Type of Entity <span>*</span></label>
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <!-- <label class="sub-labels">a) Source of Income: </label> -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name" class="sub-labels"
        >a) Source of Income <span>*</span></label
      >
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <input
      type="text"
      pInputText
      formControlName="text"
      placeholder="Enter Source of Income"
    />
  </div>

  <div class="input-group">
    <!-- <label for="idk">
              14) Document submitted as Proof of Identity (POI) and Proof of
              Address (POA) for <span>*</span>
            </label> -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name"
        >14) Document submitted as Proof of Identity (POI) and Proof of Address
        (POA) <span>*</span></label
      >
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <p-table
      [value]="docData"
      showGridlines
      [responsiveLayout]="'scroll'"
      class="p-datatable-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th class="sub-labels">Particulars</th>
          <th class="sub-labels">Details</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>
            <input
              type="text"
              pInputText
              formControlName="text"
              placeholder="{{ item.placeHolder }}"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="input-group">
    <!-- <label for="idk">
              15) Whether the applicant or the applicant's authorized signatories/
              Promoters/ Partners/Trustees/ Whole Time Directors/Office bearer is
              <span>*</span></label
            > -->
    <div style="display: flex; gap: 0.5rem; align-items: center">
      <label for="name"
        >15) Whether the applicant or the applicant's authorized signatories/
        Promoters/ Partners/Trustees/ Whole Time Directors/Office bearer is
        <span>*</span></label
      >
      <div pTooltip="Enter your username" tooltipPosition="right">
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297"
        ></i>
      </div>
    </div>
    <!-- here -->
    <div class="chose">
      <div class="last-item">
        <div style="display: flex; gap: 0.5rem; align-items: center">
          <label for="name" class="sub-labels"
            >a) A politically exposed person</label
          >
          <div pTooltip="Enter your username" tooltipPosition="right">
            <i
              class="pi pi-info-circle"
              style="font-size: 14px; color: #748297"
            ></i>
          </div>
        </div>
        <div style="display: flex; gap: 2rem">
          <div style="display: flex; align-items: center">
            <p-radioButton
              name="politicallyExposed"
              [value]="true"
              formControlName="politicallyExposed"
              inputId="politicallyExposedYes"
            >
            </p-radioButton>
            <label
              for="politicallyExposedYes"
              class="sub-labels"
              style="margin-left: 1rem"
              >Yes</label
            >
          </div>
          <div style="display: flex; align-items: center">
            <p-radioButton
              name="politicallyExposed"
              [value]="false"
              formControlName="politicallyExposed"
              inputId="politicallyExposedNo"
            >
            </p-radioButton>
            <label
              for="politicallyExposedNo"
              class="sub-labels"
              style="margin-left: 1rem"
              >No</label
            >
          </div>
        </div>
      </div>

      <div class="last-item">
        <div style="display: flex; gap: 0.5rem; align-items: center">
          <label for="name" class="sub-labels"
            >b) Related to a politically exposed person</label
          >
          <div pTooltip="Enter your username" tooltipPosition="right">
            <i
              class="pi pi-info-circle"
              style="font-size: 14px; color: #748297"
            ></i>
          </div>
        </div>
        <div style="display: flex; gap: 2rem">
          <div style="display: flex; align-items: center">
            <p-radioButton
              name="relatedToPoliticallyExposed"
              [value]="true"
              formControlName="relatedToPoliticallyExposed"
              inputId="relatedToPoliticallyExposedYes"
            >
            </p-radioButton>
            <label
              for="relatedToPoliticallyExposedYes"
              class="sub-labels"
              style="margin-left: 1rem"
              >Yes</label
            >
          </div>
          <div style="display: flex; align-items: center">
            <p-radioButton
              name="relatedToPoliticallyExposed"
              [value]="false"
              formControlName="relatedToPoliticallyExposed"
              inputId="relatedToPoliticallyExposedNo"
            >
            </p-radioButton>
            <label
              for="relatedToPoliticallyExposedNo"
              class="sub-labels"
              style="margin-left: 1rem"
              >No</label
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="next">
            <button pButton type="button" id="next-btn">Next</button>
          </div> -->

  <!-- Replace the existing chose div with this code -->
</form>
