.hero {
  padding: 3rem 5rem;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 3rem; */
}

.hero-content {
  margin: auto;
  /* padding: 0 5rem; */
}

.hero-title {
  color: #2c3e5d;
  font-size: 42px;
  font-weight: 600;
}

.find-out {
  background-color: transparent;
  text-align: left;
  color: #000;
  border: none;
  padding: 0;
  margin-bottom: 4rem;
}

.button-wrapper {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.background {
  background-color: #8f1709;
  border: none;
  border-radius: 48px;
  padding: 0.5rem;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.transparent {
  color: #8f1709;
}

::ng-deep .p-button {
  background: none;
}

.fpi-wrapper {
  text-align: center;
  /* padding: 0 4rem; */
}

.fpi-wrapper h3 {
  color: #8f1709;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 2rem;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.country img {
  max-width: 80px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.country img:hover {
  transform: scale(1.1);
}

.p-button:not(:disabled):hover {
  background: none;
  border: none;
  color: #000;
}

::ng-deep .p-menubar-item-icon {
  color: #8f1709 !important;
}

@media screen and (max-width: 1024px) {
  .hero-wrapper {
    grid-template-columns: 1fr;
  }

  .hero-content {
    text-align: center;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    padding: 3rem 1.5rem;
  }

  .fpi-wrapper {
    margin: 4rem 0;
  }

  .hero {
    padding: 0 1rem;
  }

  .hero-title {
    font-size: 32px;
  }
}
