<app-menu [applicationId]="applicationId" (stepChanged)="updateCurrentStep($event)"
  (onButtonClick)="onButtonClick()" (submitClicked)="handleSubmit()"  (saveClicked)="handleSaveClick()" [completionPercentageNew]="formCompletionPercentage" [fvciForm]="fvciForm" [registartionForm]="registartionForm" [anextureToCafForm]="anextureToCafForm"  [documentUploadForm]="documentUploadForm" [declarationAndUndertakimgForm]="declarationAndUndertakimgForm" [applicationData]="applicationData" [allDocumentsUploaded]="allDocumentsUploaded" (submitFClicked)="onFinalSubmit()"></app-menu>
<div class="card-wrapper">
  <p-card class="annexure-card">
    <div class="form-header">
      <p id="form-title">
        <span>{{ currentComponent }}</span>
        Application Form for Grant of Certificate of Registration as Foreign
        Venture Capital Investor (FVCI)
      </p>
      <div class="wrapper">
        <img [src]="download" alt="download button" />
        <a (click)="downloadFvciPdf()" style="cursor: pointer;">Download</a>
      </div>
    </div>
    <p-scrollpanel [style]="{ width: '100%', height: '65vh' }">
      <app-fvci-form [hidden]="currentStep !== 1" [applicationId]="applicationId"  [formGroup]="fvciForm" [masterData]="masterData" [applicationData]="applicationData" [viewMode]="viewMode"></app-fvci-form>
      <app-registration-form [hidden]="currentStep !== 2" [applicationId]="applicationId"  [formGroup]="registartionForm" [masterData]="masterData" [applicationData]="applicationData" [viewMode]="viewMode"></app-registration-form>
      <app-annexure-form [hidden]="currentStep !== 3" [applicationId]="applicationId" [formGroup]="anextureToCafForm" [masterData]="masterData" [applicationData]="applicationData" [viewMode]="viewMode"></app-annexure-form>
      <app-documents-upload [hidden]="currentStep !== 4" [applicationId]="applicationId" [formGroup]="documentUploadForm" [fvciForm]="fvciForm" [masterData]="masterData" [applicationData]="applicationData" [viewMode]="viewMode" (documentsUploaded)="onDocumentsUploaded($event)"></app-documents-upload>
      <app-declaration-undertaking [hidden]="currentStep !== 5"  [applicationId]="applicationId" [declarationForm]="declarationAndUndertakimgForm" [applicationData]="applicationData" [viewMode]="viewMode"></app-declaration-undertaking>
      <app-acknowledgement [hidden]="currentStep !== 6" [applicationId]="applicationId"  [applicationData]="applicationData" ></app-acknowledgement>
    </p-scrollpanel>
  </p-card>
  <app-loader *ngIf="showLoader"></app-loader>
</div>

