<div class="chose">
  <h1>Why Choose NSDL?</h1>
  <div class="grid-items">
    <div class="grid-item">
      <img [src]="sws" alt="Single Window Services" class="chose-icons" />
      <h4>Single Window Services</h4>
      <p>
        To facilitate ease of onboarding of Foreign Portfolio Investors and
        reduce duplication of
        <!-- <a routerLink="/auth/register">Show More</a> -->
      </p>
    </div>
    <div class="grid-item">
      <img [src]="reports" alt="Extensive Reports" class="chose-icons" />
      <h4>Extensive Reports</h4>
      <p>
        We offer comprehensive, data-driven reports tailored to meet diverse
        business needs. Our report provide
        <!-- <a routerLink="/auth/register">Show More</a> -->
      </p>
    </div>
    <div class="grid-item">
      <img [src]="monitoring" alt="Limit Moitoring" class="chose-icons" />
      <h4>Limit Monitoring</h4>
      <p>
        Access a comprehensive list of Foreign Portfolio Investors (FPIs)
        registered in India. Browse and
        <!-- <a routerLink="/auth/register">Show More</a> -->
      </p>
    </div>
  </div>
</div>
