<footer class="footer">
  <div class="footer-content">
    <div class="footer-section quick-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="https://nsdl.com/about-us/our-story">Our Story</a></li>
        <li><a href="https://nsdl.com/about-us/leadership/board-directors">Leadership</a></li>
        <li><a href="https://nsdl.com/about-us/group-of-companies">NSDL Group Companies</a></li>
        <li><a href="https://nsdl.com/about-us/award-and-recognition">Awards and Recognitions</a></li>
        <li><a href="https://nsdl.com/about-us/investor-relations">Investor Relations</a></li>
        <li><a href="https://nsdl.com/about-us/legal-framework">Legal Framework</a></li>
        <li><a href="https://nsdl.com/about-us/statistics">NSDL Statistics</a></li>
        <li><a href="https://nsdl.com/about-us/csr">CSR</a></li>
      </ul>
    </div>

    <div class="footer-section investor ">
      <h3>Investor</h3>
      <ul>
        <li><a href="https://nsdl.com/investor/open-demat-account">Open Demat Account</a></li>
        <li><a href="https://nsdl.com/investor/view-demat-account">View Demat Account (IDeAS)</a></li>
        <li><a href="https://nsdl.com/investor/investor-services">Investor Services</a></li>
        <li><a href="https://nsdl.com/investor/know-your-cas">Know Your CAS</a></li>
        <li><a href="https://nsdl.com/investor/investor-grievance">Investor Grievance</a></li>
        <li><a href="https://nsdl.com/investor/investor-faq">Investor FAQ</a></li>
        <li><a href="https://nsdl.com/investor/investor-charter">Investor Charter</a></li>
      </ul>
    </div>

    <div class="footer-section contact-us">
      <h3>Contact Us</h3>
      <address>
        National Securities Depository Limited<br />
        3rd Floor, Naman Chamber,<br />
        Plot C-32, G-Block,<br />
        Bandra Kurla Complex, Bandra East,<br />
        Mumbai, Maharashtra 400 051<br />
        CIN: U74120MH2012PLC233380<br />
        SEBI Registration Number: IN-SD-NSDL-01-96
      </address>
      <div class="social-icons">
        <a href="https://www.linkedin.com/company/national-securities-depository-limited/?originalSubdomain=in"><i class="pi pi-linkedin"></i></a>
        <a href="https://www.facebook.com/nsdl.co.in"><i class="pi pi-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UCsPugSFDh7OWh7Lvm5SR7kA"><i class="pi pi-youtube"></i></a>
        <a href="https://www.instagram.com/nsdl_india/"><i class="pi pi-instagram"></i></a>
        <a href="https://x.com/NSDL_Depository?mx=2"><i class="pi pi-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      <a href="https://nsdl.com/disclaimer">Disclaimer</a> | <a href="https://nsdl.com/privacy-policy">Privacy Policy</a> |
      <a href="https://nsdl.com/terms-and-conditions">Terms of Use</a>
    </p>
    <p>© Copyright 2024, National Securities Depository Limited (NSDL).</p>
  </div>
</footer>
