<div [ngClass]="{ 'preview-mode': previewMode }">
  <p-toast></p-toast>
  <form [formGroup]="formGroup">
    <!-- Section 16: Self-Certification / FATCA / CRS Declaration -->
    <div class="input-group">
      <div>
        <div style="display: flex; flex-direction: column; gap: 1.5rem">
          <div>
            <label for="providedValidFormGroup">
              16) Whether the applicant has provided with valid
              self-certification/ Foreign Account Tax Compliance Act (FATCA) /
              Common Reporting Standard (CRS) declaration form?
              <span>*</span>
              <i
                class="pi pi-info-circle"
                style="font-size: 14px; color: #748297; margin-left: 1rem"
                pTooltip="Confirm if valid certification form is provided"
                tooltipPosition="right"
              ></i>
            </label>
          </div>
          <div class="radio">
            <p-radioButton
              [formControlName]="'providedValidForm'"
              [value]="true"
              inputId="providedValidFormYes"
              [ngClass]="{
                'invalid-field':
                  formGroup.get('providedValidForm')?.invalid &&
                  formGroup.get('providedValidForm')?.touched
              }" autocomplete="off"
            >
            </p-radioButton>
            <label for="providedValidFormYes" class="sub-labels">Yes</label>
            <p-radioButton
              [formControlName]="'providedValidForm'"
              [value]="false"
              inputId="providedValidFormNo"
              [ngClass]="{
                'invalid-field':
                  formGroup.get('providedValidForm')?.invalid &&
                  formGroup.get('providedValidForm')?.touched
              }" autocomplete="off"
            >
            </p-radioButton>
            <label for="providedValidFormNo" class="sub-labels">No</label>
          </div>
        </div>
        <div
          *ngIf="
            formGroup.get('providedValidForm')?.invalid &&
            formGroup.get('providedValidForm')?.touched
          "
          class="error-message"
        >
          This field is required.
        </div>
      </div>
    </div>

    <!-- Section 17: Regulatory Authority -->
    <div class="input-group">
      <label for="regulation">
        17) Details of Regulatory authority by which the applicant is regulated
        (If applicable)
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297; margin-left: 1rem"
          pTooltip="Review regulatory authority details"
          tooltipPosition="right"
        ></i>
      </label>
      <p-table
        id="regulationTable"
        [value]="regulationData"
        showGridlines
        [responsiveLayout]="'scroll'"
        class="p-datatable-striped" autocomplete="off"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Sr. No</th>
            <th scope="col" class="sub-labels">Particulars</th>
            <th scope="col" class="sub-labels">Details</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
              <p-select
                *ngIf="i === 0 && item.type === 'dropdown'"
                formControlName="regulatoryAuthorityName"
                placeholder="{{ item.placeholder }}"
                [options]="regulatoryAuthorityOptions"
                optionLabel="name"
                optionValue="name"
                class="full-width"
                [filter]="true"
                [filterBy]="'name'"
                [showClear]="true"
                appendTo="body"
                (onChange)="onRegulatoryAuthoritySelected($event)" autocomplete="off"
              ></p-select>
              <input
                *ngIf="i === 1 && item.type === 'text'"
                type="text"
                pInputText
                formControlName="regulatoryAuthorityCountry"
                placeholder="{{ item.placeholder }}" autocomplete="off"
              />
              <!-- <p-select
              *ngIf="i === 1 && item.type === 'text'"
              formControlName="regulatoryAuthorityCountry"
              placeholder="Enter country"
              [options]="countries_pan"
              optionLabel="name"
              class="full-width"
              [filter]="true"
              [filterBy]="'name'"
              [showClear]="true"
              appendTo="body"
              [ngClass]="{
                'invalid-field':
                  formGroup.get(
                    'regulatoryAuthorityCountry'
                  )?.invalid &&
                  (formGroup.get(
                    'regulatoryAuthorityCountry'
                  )?.touched ||
                    formGroup.touched)
              }"
            ></p-select> -->
              <input
                *ngIf="i === 2 && item.type === 'text'"
                type="text"
                pInputText
                formControlName="regulatoryAuthorityWebsite"
                placeholder="{{ item.placeholder }}"
                [ngClass]="{
                  'invalid-field':
                    formGroup.get('regulatoryAuthorityWebsite')?.invalid &&
                    formGroup.get('regulatoryAuthorityWebsite')?.touched
                }"
                autocomplete="off"
              />
              <input
                *ngIf="i === 3 && item.type === 'text'"
                type="text"
                pInputText
                formControlName="regulatoryAuthorityRegNumber"
                placeholder="{{ item.placeholder }}"
                [ngClass]="{
                  'invalid-field':
                    formGroup.get('regulatoryAuthorityRegNumber')?.invalid &&
                    formGroup.get('regulatoryAuthorityRegNumber')?.touched
                }"
                autocomplete="off"
              />
              <input
                *ngIf="i === 4 && item.type === 'text'"
                type="text"
                pInputText
                formControlName="regulatoryAuthorityCategory"
                placeholder="{{ item.placeholder }}"
                autocomplete="off"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Section 18: Global Custodian -->
    <div class="input-group">
      <div
        formGroupName="throughGlobalCustodian"
        style="display: flex; gap: 3rem; align-items: center"
      >
        <div style="display: flex; gap: 0.5rem; align-items: center">
          <label for="throughGlobalCustodianGroup">
            18) Whether the applicant is coming through Global Custodian?
          </label>
          <div
            pTooltip="Indicate if global custodian is involved"
            tooltipPosition="right"
          >
            <i
              class="pi pi-info-circle"
              style="font-size: 14px; color: #748297"
            ></i>
          </div>
        </div>
        <div>
          <div class="radio">
            <p-radioButton
              [formControlName]="'throughGlobalCustodianRadio'"
              value="throughGlobalCustodianRadioYes"
              inputId="throughGlobalCustodianRadioYes"
              [ngClass]="{
                'invalid-field':
                  formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianRadio'
                  )?.invalid &&
                  formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianRadio'
                  )?.touched
              }"
              autocomplete="off"
            >
            </p-radioButton>
            <label for="throughGlobalCustodianRadioYes" class="sub-labels"
              >Yes</label
            >
            <p-radioButton
              [formControlName]="'throughGlobalCustodianRadio'"
              value="throughGlobalCustodianRadioNo"
              inputId="throughGlobalCustodianRadioNo"
              [ngClass]="{
                'invalid-field':
                  formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianRadio'
                  )?.invalid &&
                  formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianRadio'
                  )?.touched
              }"
              autocomplete="off"
            >
            </p-radioButton>
            <label for="throughGlobalCustodianRadioNo" class="sub-labels"
              >No</label
            >
          </div>
          <div
            *ngIf="
              formGroup.get(
                'throughGlobalCustodian.throughGlobalCustodianRadio'
              )?.invalid &&
              formGroup.get(
                'throughGlobalCustodian.throughGlobalCustodianRadio'
              )?.touched
            "
            class="error-message"
          >
            This field is required.
          </div>
        </div>
      </div>

      <div
        formGroupName="throughGlobalCustodian"
        *ngIf="
          formGroup.get('throughGlobalCustodian.throughGlobalCustodianRadio')
            ?.value === 'throughGlobalCustodianRadioYes'
        "
      >
        <div class="input-grid">
          <div class="input-item">
            <label for="throughGlobalCustodianName" class="sub-labels">
              Name of Global Custodian <span>*</span>
            </label>
            <input
              type="text"
              id="throughGlobalCustodianName"
              pInputText
              placeholder="Enter Global Custodian Name"
              formControlName="throughGlobalCustodianName"
              [ngClass]="{
                'invalid-field':
                  formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianName'
                  )?.invalid &&
                  (formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianName'
                  )?.touched ||
                    formGroup.touched)
              }"
              autocomplete="off"
            />
            <div
              *ngIf="
                formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianName'
                )?.invalid &&
                (formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianName'
                )?.touched ||
                  formGroup.touched)
              "
              class="error"
            >
              This field is required.
            </div>
          </div>
          <!-- <div class="input-item">
            <label for="throughGlobalCustodianRegulatorName" class="sub-labels">
              Name of Regulator <span>*</span>
            </label>
            <input
              type="text"
              id="throughGlobalCustodianRegulatorName"
              pInputText
              placeholder="Enter Regulator Name"
              formControlName="throughGlobalCustodianRegulatorName"
              [ngClass]="{
                'invalid-field':
                  formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianRegulatorName'
                  )?.invalid &&
                  (formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianRegulatorName'
                  )?.touched ||
                    formGroup.touched)
              }"
            />
            <div
              *ngIf="
                formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianRegulatorName'
                )?.invalid &&
                (formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianRegulatorName'
                )?.touched ||
                  formGroup.touched)
              "
              class="error"
            >
              This field is required.
            </div>
          </div> -->
          <div class="input-item">
            <label for="throughGlobalCustodianCountry" class="sub-labels">
              Country of Regulator <span>*</span>
            </label>
            <p-select
              formControlName="throughGlobalCustodianCountry"
              placeholder="Enter country"
              [options]="countries_pan"
              optionLabel="name"
              class="full-width"
              [filter]="true"
              [filterBy]="'name'"
              [showClear]="true"
              appendTo="body"
              [ngClass]="{
                'invalid-field':
                  formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianCountry'
                  )?.invalid &&
                  (formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianCountry'
                  )?.touched ||
                    formGroup.touched)
              }"
              autocomplete="off"
            ></p-select>
            <div
              *ngIf="
                formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianCountry'
                )?.invalid &&
                (formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianCountry'
                )?.touched ||
                  formGroup.touched)
              "
              class="error"
            >
              This field is required.
            </div>
          </div>
        </div>
        <div class="input-grid">
          <div class="input-item">
            <label for="throughGlobalCustodianRegistration" class="sub-labels">
              Registration Number/Code with Regulator <span>*</span>
            </label>
            <input
              type="text"
              id="throughGlobalCustodianRegistration"
              formControlName="throughGlobalCustodianRegistration"
              pInputText
              placeholder="Enter Registration number/ code"
              [ngClass]="{
                'invalid-field':
                  formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianRegistration'
                  )?.invalid &&
                  (formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianRegistration'
                  )?.touched ||
                    formGroup.touched)
              }"
              autocomplete="off"
            />
            <div
              *ngIf="
                formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianRegistration'
                )?.invalid &&
                (formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianRegistration'
                )?.touched ||
                  formGroup.touched)
              "
              class="error"
            >
              This field is required.
            </div>
          </div>

          <div class="input-item">
            <label for="throughGlobalCustodianAddress" class="sub-labels">
              Address <span>*</span>
            </label>
            <input
              type="text"
              id="throughGlobalCustodianAddress"
              formControlName="throughGlobalCustodianAddress"
              pInputText
              placeholder="Enter Address"
              [ngClass]="{
                'invalid-field':
                  formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianAddress'
                  )?.invalid &&
                  (formGroup.get(
                    'throughGlobalCustodian.throughGlobalCustodianAddress'
                  )?.touched ||
                    formGroup.touched)
              }"
              autocomplete="off"
            />
            <div
              *ngIf="
                formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianAddress'
                )?.invalid &&
                (formGroup.get(
                  'throughGlobalCustodian.throughGlobalCustodianAddress'
                )?.touched ||
                  formGroup.touched)
              "
              class="error"
            >
              This field is required.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 19: Designated Depository Participant -->
    <div class="input-group">
      <label for="designationTable">
        19) Details of the designated depository participant, custodian and
        Depository Participant
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297; margin-left: 1rem"
          pTooltip="Review depository participant details"
          tooltipPosition="right"
        ></i>
      </label>
      <p-table
        id="designationTable"
        [value]="designationData"
        showGridlines
        [responsiveLayout]="'scroll'"
        class="p-datatable-striped"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Sr. No</th>
            <th scope="col" class="sub-labels">Particulars</th>
            <th scope="col" class="sub-labels">
              Name of the Designated Depository Participant
            </th>
            <th scope="col" class="sub-labels">
              SEBI Registration number for DDP/Custodian
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
              <p-select
                id="select-ddp"
                *ngIf="i === 0"
                formControlName="ddpName"
                [options]="ddpOptions"
                optionLabel="name"
                [showClear]="true"
                placeholder="Select Details"
                appendTo="body"
                (onChange)="onDdpSelected($event, i)"
                [style]="{ width: '100%' }"
                [ngClass]="{
                  'invalid-field':
                    formGroup.get('ddpName')?.invalid &&
                    formGroup.get('ddpName')?.touched
                }"
                autocomplete="off"
              >
                <ng-template pTemplate="item" let-option>
                  {{ option.name }}
                </ng-template>
                <ng-template pTemplate="selectedItem" let-option>
                  {{ option.name }}
                </ng-template>
              </p-select>
              <div
                *ngIf="
                  i === 0 &&
                  formGroup.get('ddpName')?.invalid &&
                  formGroup.get('ddpName')?.touched
                "
                class="error-message"
              >
                This field is required.
              </div>
              <p-select
                id="select-custodian"
                *ngIf="i === 1"
                formControlName="custodianName"
                [options]="custodianOptions"
                optionLabel="name"
                [showClear]="true"
                placeholder="Select Details"
                appendTo="body"
                (onChange)="onDdpSelected($event, i)"
                [style]="{ width: '100%' }"
                [ngClass]="{
                  'invalid-field':
                    formGroup.get('custodianName')?.invalid &&
                    formGroup.get('custodianName')?.touched
                }"
                autocomplete="off"
              >
                <ng-template pTemplate="item" let-option>
                  {{ option.name }}
                </ng-template>
                <ng-template pTemplate="selectedItem" let-option>
                  {{ option.name }}
                </ng-template>
              </p-select>
              <div
                *ngIf="
                  i === 1 &&
                  formGroup.get('custodianName')?.invalid &&
                  formGroup.get('custodianName')?.touched
                "
                class="error-message"
              >
                This field is required.
              </div>
              <p-select
                id="select-ddp"
                *ngIf="i === 2"
                formControlName="dpName"
                [options]="ddpOptions"
                optionLabel="name"
                [showClear]="true"
                placeholder="Select Details"
                appendTo="body"
                (onChange)="onDdpSelected($event, i)"
                [style]="{ width: '100%' }"
                [ngClass]="{
                  'invalid-field':
                    formGroup.get('dpName')?.invalid &&
                    formGroup.get('dpName')?.touched
                }"
                autocomplete="off"
              >
                <ng-template pTemplate="item" let-option>
                  {{ option.name }}
                </ng-template>
                <ng-template pTemplate="selectedItem" let-option>
                  {{ option.name }}
                </ng-template>
              </p-select>
              <div
                *ngIf="
                  i === 2 &&
                  formGroup.get('dpName')?.invalid &&
                  formGroup.get('dpName')?.touched
                "
                class="error-message"
              >
                This field is required.
              </div>
            </td>
            <td>
              <!-- Using individual form controls based on index -->
              <input
                *ngIf="i === 0"
                type="text"
                formControlName="ddpRegistrationNumber"
                pInputText
                placeholder="Enter Details"
                [disabled]="true"
                readonly
                autocomplete="off"
              />
              <input
                *ngIf="i === 1"
                type="text"
                formControlName="custodianRegistrationNumber"
                pInputText
                placeholder="Enter Details"
                [disabled]="true"
                readonly
                autocomplete="off"
              />
              <input
                *ngIf="i === 2"
                type="text"
                formControlName="dpRegistrationNumber"
                pInputText
                placeholder="Sebi Registration Number"
                [disabled]="true"
                readonly
                autocomplete="off"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Section 20: Designated Bank -->
    <div class="input-group">
      <label for="designatedBankGroup">
        20) Details of the designated bank
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297; margin-left: 1rem"
          pTooltip="Enter bank details"
          tooltipPosition="right"
        ></i>
      </label>
      <div class="input-grid" formGroupName="designatedBank">
        <div class="input-item">
          <label for="designatedBankName" class="sub-labels"
            >Name of the Bank and Branch
          </label>
          <p-select
            id="designatedBankName"
            [options]="bankOptions"
            optionLabel="name"
            placeholder="Select Bank"
            formControlName="designatedBankName"
            [filter]="true"
            filterBy="name"
            [style]="{ width: '100%', marginTop: '.75rem' }"
            (onChange)="onBankSelected($event)"
            [showClear]="true"
            [panelStyle]="{ 'max-width': '500px' }"
            [ngClass]="{
              'invalid-field':
                formGroup.get('designatedBank.designatedBankName')?.invalid &&
                formGroup.get('designatedBank.designatedBankName')?.touched
            }"
            autocomplete="off"
          ></p-select>
          <div
            *ngIf="
              formGroup.get('designatedBank.designatedBankName')?.invalid &&
              formGroup.get('designatedBank.designatedBankName')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
        <div class="input-item">
          <label for="designatedBankAddress" class="sub-labels">Address</label>
          <input
            type="text"
            id="designatedBankAddress"
            formControlName="designatedBankAddress"
            pInputText
            placeholder="Enter Address"
            [disabled]="true"
            readonly
            autocomplete="off"
          />
          <div
            *ngIf="
              formGroup.get('designatedBank.designatedBankName')?.invalid &&
              formGroup.get('designatedBank.designatedBankName')?.touched
            "
            class="error"
          >
            This field is required.
          </div>
        </div>
      </div>
    </div>

    <!-- Section 21: Prior Association with Indian Securities Market -->
    <div class="input-group">
      <label for="priorAssociationGroup">
        21) Details of Prior association with Indian securities market
        <i
          class="pi pi-info-circle"
          style="font-size: 14px; color: #748297; margin-left: 1rem"
          pTooltip="Provide details of any prior association"
          tooltipPosition="right"
        ></i>
      </label>
      <div
        formGroupName="priorAssociation"
        style="display: flex; flex-direction: column; gap: 1rem"
      >
        <div style="display: flex; gap: 3rem; align-items: center">
          <div style="display: flex; gap: 0.5rem; align-items: center">
            <label for="priorAssociationRadioYes" class="sub-labels">
              Whether the applicant is/was anytime associated with Indian
              securities market in any capacity?
            </label>
            <div
              pTooltip="Provide details of any prior association"
              tooltipPosition="right"
            >
              <i
                class="pi pi-info-circle"
                style="font-size: 14px; color: #748297"
              ></i>
            </div>
          </div>
          <div>
            <div class="radio">
              <p-radioButton
                [formControlName]="'priorAssociationRadio'"
                [value]="true"
                inputId="priorAssociationRadioYes"
                [ngClass]="{
                  'invalid-field':
                    formGroup.get('priorAssociation.priorAssociationRadio')
                      ?.invalid &&
                    formGroup.get('priorAssociation.priorAssociationRadio')
                      ?.touched
                }"
                autocomplete="off"
              >
              </p-radioButton>
              <label for="priorAssociationRadioYes" class="sub-labels"
                >Yes</label
              >
              <p-radioButton
                [formControlName]="'priorAssociationRadio'"
                [value]="false"
                inputId="priorAssociationRadioNo"
                [ngClass]="{
                  'invalid-field':
                    formGroup.get('priorAssociation.priorAssociationRadio')
                      ?.invalid &&
                    formGroup.get('priorAssociation.priorAssociationRadio')
                      ?.touched
                }"
                autocomplete="off"
              >
              </p-radioButton>
              <label for="priorAssociationRadioNo" class="sub-labels">No</label>
            </div>
            <div
              *ngIf="
                formGroup.get('priorAssociation.priorAssociationRadio')
                  ?.invalid &&
                formGroup.get('priorAssociation.priorAssociationRadio')?.touched
              "
              class="error-message"
            >
              This field is required.
            </div>
          </div>
        </div>
        
      </div>
      <div
          *ngIf="formGroup.get('priorAssociation.priorAssociationRadio')?.value"
        >
          <p-table
            [value]="priorAssiciationRows.controls"
            formArrayName="priorAssiciationRows"
            showGridlines
          >
            <ng-template pTemplate="header">
              <tr>
                <th>#</th>
                <th>Name of the entity *</th>
                <th>Registered/ associated as *</th>
                <th>SEBI registration number</th>
                <th>Period of registration *</th>
                <th>Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowForm let-i="rowIndex">
              <tr [formGroup]="rowForm">
                <td>{{ i + 1 }}</td>
                <td>
                  <input
                    pInputText
                    formControlName="entityName"
                    class="full-width"
                    autocomplete="off"
                    [ngClass]="{
                      'invalid-field':
                          rowForm.get('entityName')
                          ?.invalid
                    }"
                  />
                </td>
                <td>
                  <p-select
                    formControlName="registrationType"
                    [options]="registeredOrAssociatedAs"
                    optionLabel="name"
                    optionValue="name"
                    class="full-width"
                    [filter]="true"
                    [filterBy]="'name'"
                    [showClear]="true"
                    appendTo="body"
                    [ngClass]="{
                      'invalid-field':
                          rowForm.get('registrationType')
                          ?.invalid
                    }"
                  ></p-select>
                </td>
                <td>
                  <input
                    pInputText
                    formControlName="sebiRegNumber"
                    class="full-width"
                    [ngClass]="{
                      'invalid-field':
                          rowForm.get('sebiRegNumber')
                          ?.invalid
                    }"
                  />
                </td>
                <td>
                  <p-datepicker
                    formControlName="registrationPeriod"
                    selectionMode="range"
                    [showIcon]="true"
                    dateFormat="dd-mm-yy"
                    [readonlyInput]="true"
                    [appendTo]="'body'"
                    placeholder="Select Date Range"
                    [numberOfMonths]="2"
                    autocomplete="off"
                    [ngClass]="{
                      'ng-invalid ng-dirty':
                          rowForm.get('registrationPeriod')
                          ?.invalid
                    }"
                  ></p-datepicker>
                </td>
                <td class="action-buttons">
                  <button
                    pButton
                    icon="pi pi-trash"
                    class="p-button-danger"
                    (click)="removePriorAssociationRow(i)"
                    [disabled]="priorAssiciationRows.length === 1"
                  ></button>
                  <button
                    pButton
                    icon="pi pi-plus"
                    class="p-button-danger"
                    (click)="addPriorAssociationRow()"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
    </div>

    <!-- Section 22: PAN Details -->
    <div formGroupName="hasPan" class="input-group">
      <!-- Heading & Tooltip -->
      <div style="display: flex; gap: 3rem; align-items: center">
        <label for="hasPanGroup">
          22) Whether the applicant already holds Permanent Account Number
          (PAN)?
          <i
            class="pi pi-info-circle"
            style="font-size: 14px; color: #748297; margin-left: 1rem"
            pTooltip="Indicate if PAN is held"
            tooltipPosition="right"
          ></i>
        </label>
      </div>

      <!-- Radio Buttons -->
      <div class="radio" style="display: flex; gap: 2rem; margin-top: 1rem">
        <div>
          <p-radioButton
            formControlName="hasPanRadio"
            [value]="true"
            inputId="hasPanRadioYes"
            [ngClass]="{
              'invalid-field':
                formGroup.get('hasPan.hasPanRadio')?.invalid &&
                formGroup.get('hasPan.hasPanRadio')?.touched
            }"
            autocomplete="off"
          ></p-radioButton>
          <label for="hasPanRadioYes" class="sub-labels">Yes</label>
        </div>
        <div>
          <p-radioButton
            formControlName="hasPanRadio"
            [value]="false"
            inputId="hasPanRadioNo"
            [ngClass]="{
              'invalid-field':
                formGroup.get('hasPan.hasPanRadio')?.invalid &&
                formGroup.get('hasPan.hasPanRadio')?.touched
            }"
            autocomplete="off"
          ></p-radioButton>
          <label for="hasPanRadioNo" class="sub-labels">No</label>
        </div>
      </div>

      <!-- Radio validation -->
      <div
        *ngIf="
          formGroup.get('hasPan.hasPanRadio')?.invalid &&
          formGroup.get('hasPan.hasPanRadio')?.touched
        "
        class="error-message"
      >
        Please select Yes or No.
      </div>

      <!-- PAN Number Input (Shown only when radio = true) -->
      <div
        class="existing-pan"
        *ngIf="formGroup.get('hasPan.hasPanRadio')?.value"
        style="margin-top: 1rem"
      >
        <label for="hasPanNumber" class="sub-labels">Please mention PAN</label>
        <input
          type="text"
          id="hasPanNumber"
          pInputText
          formControlName="hasPanNumber"
          placeholder="Enter PAN"
          onkeypress="handlePanInput(event, this)" 
          maxlength="10"
          class="full-width"
          [ngClass]="{
            'invalid-field':
              formGroup.get('hasPan')?.errors?.['panNumberRequired'] &&
              formGroup.get('hasPan.hasPanNumber')?.touched
          }"
          autocomplete="off"
        />

        <div
          *ngIf="
            formGroup.get('hasPan')?.errors?.['panNumberRequired'] &&
            formGroup.get('hasPan.hasPanNumber')?.touched
          "
          class="error-message"
        >
          PAN Number is required.
        </div>
      </div>
    </div>

    <!-- Section 22 (Disciplinary History) -->
    <div
      class="input-group"
      formGroupName="disciplinaryHistory"
      style="display: flex; flex-direction: column; gap: 2rem"
    >
      <div style="display: flex; flex-direction: column; gap: 1.5rem">
        <label for="disciplinaryHistoryGroup">
          23) Disciplinary History
          <i
            class="pi pi-info-circle"
            style="font-size: 14px; color: #748297; margin-left: 1rem"
            pTooltip="Provide details on any disciplinary history"
            tooltipPosition="right"
          ></i>
        </label>
        <label
          for="disciplinaryHistoryRadio"
          style="color: #131820; font-weight: 400"
        >
          Whether there has been any instance of violation or non-adherence to
          the securities laws, code of ethics/conduct, code of business rules,
          for which the applicant or its parent/holding company or associate/or
          promoter/investment manager may have been subjected to criminal
          liability or suspended from carrying out its operations or the
          registration, has been revoked, temporarily or permanently or any \
          regulatory actions that have resulted in temporary or permanent
          suspension of investment related operations in jurisdiction where the
          applicant is operating and has a bearing on obtaining FVCI
          registration for investing in India?
        </label>
      </div>
      <div>
        <div class="radio">
          <p-radioButton
            [formControlName]="'disciplinaryHistoryRadio'"
            [value]="true"
            inputId="disciplinaryHistoryRadioYes"
            [ngClass]="{
              'invalid-field':
                formGroup.get('disciplinaryHistory.disciplinaryHistoryRadio')
                  ?.invalid &&
                formGroup.get('disciplinaryHistory.disciplinaryHistoryRadio')
                  ?.touched
            }"
            autocomplete="off"
          >
          </p-radioButton>
          <label for="disciplinaryHistoryRadioYes" class="sub-labels"
            >Yes</label
          >
          <p-radioButton
            [formControlName]="'disciplinaryHistoryRadio'"
            [value]="false"
            inputId="disciplinaryHistoryRadioNo"
            [ngClass]="{
              'invalid-field':
                formGroup.get('disciplinaryHistory.disciplinaryHistoryRadio')
                  ?.invalid &&
                formGroup.get('disciplinaryHistory.disciplinaryHistoryRadio')
                  ?.touched
            }"
            autocomplete="off"
          >
          </p-radioButton>
          <label for="disciplinaryHistoryRadioNo" class="sub-labels">No</label>
        </div>
        <div
          *ngIf="
            formGroup.get('disciplinaryHistory.disciplinaryHistoryRadio')
              ?.invalid &&
            formGroup.get('disciplinaryHistory.disciplinaryHistoryRadio')
              ?.touched
          "
          class="error-message"
        >
          This field is required.
        </div>
      </div>
      <div
        *ngIf="
          formGroup.get('disciplinaryHistory.disciplinaryHistoryRadio')?.value
        "
      >
        <p class="sub-labels">
          Please mention details briefly in the field below.
        </p>
        <div>
          <textarea
            rows="10"
            pTextarea
            formControlName="disciplinaryHistoryText"
            placeholder="Mention your details"
            style="resize: vertical; width: 100%"
            [ngClass]="{
              'invalid-field':
              formGroup.get('disciplinaryHistory')?.errors?.['disciplinaryTextRequired'] &&
              formGroup.get('disciplinaryHistory.disciplinaryHistoryText')?.touched
            }"
            autocomplete="off"
          ></textarea>
          <div
            *ngIf="
              formGroup.get('disciplinaryHistory')?.errors?.['disciplinaryTextRequired'] &&
              formGroup.get('disciplinaryHistory.disciplinaryHistoryText')?.touched
            "
            class="error-message"
          >
            This field is required.
          </div>
        </div>
      </div>
    </div>
  </form>
  <app-loader *ngIf="showLoader"></app-loader>
</div>
