.chose {
  padding: 3rem 5rem;
}

.chose h1 {
  color: #8f1709;
  border-bottom: 1px solid #8f1709;
  padding: 1.5rem 0;
  margin-bottom: 5rem;
  font-size: 36px;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  text-align: center;
}

.chose-icons {
  width: 60px;
  height: 60px;
}

.grid-item h4 {
  color: #8f1709;
  font-weight: 600;
  font-size: 24px;
}

.grid-item p {
  max-width: 300px;
  margin: 0 auto;
  color: #758195;
  font-weight: 400;
}

.grid-item p > a {
  color: #8f1709;
  text-decoration: underline;
}

@media screen and (max-width: 425px) {
  .chose {
    padding: 3rem 1rem;
  }
}
