<div class="features">
  <div class="features-wrapper">
    <div class="features-image">
      <!-- <img [src]="features" alt="features and benefits" /> -->
      <div class="stats-wrapper">
        <div class="fpi-registered">
          <span>{{ formatNumber(totalFPICount) }}+</span>
          <p>Registered FPI as on {{ currentDate }}</p>
        </div>
        <div class="pan-allocated">
          <span>{{ formatNumber(totalFVCICount) }}+</span>
          <p>FVCI Allotted in {{ currentFY }}</p>
        </div>
      </div>
      <div class="demat-journey">
        <h3>Unlock Your Investment Journey! Open a NSDL Demat Account Today</h3>
        <button>Open Demat Account</button>
      </div>
    </div>
    <div class="features-content">
      <h1 class="features-title">Salient Features and Benefits</h1>
      <ul>
        <li>Complete Digital Journey</li>
        <li>Single Documentation for various services</li>
        <li>Integration with SEBI and Income Tax Department</li>
      </ul>
    </div>
  </div>
</div>
