<div class="chose">
  <h1>Value Added Services</h1>
  <h2>Find Out More</h2>
  <div class="vas-grid-items">
    <div class="vas-grid-item">
      <img [src]="vas1" alt="Single Window Services" class="chose-icons" />
      <p>Modification of FPI</p>
    </div>
    <div class="vas-grid-item">
      <img [src]="vas2" alt="Extensive Reports" class="chose-icons" />
      <p>Renewal and Surrender of FPI Registration</p>
    </div>
    <div class="vas-grid-item">
      <img [src]="vas3" alt="Limit Moitoring" class="chose-icons" />
      <p>Clubbing of FPI’s</p>
    </div>
    <div class="vas-grid-item">
      <img [src]="vas4" alt="Limit Moitoring" class="chose-icons" />
      <p>Monitoring of Investments</p>
    </div>
  </div>
  <p>For any queries/issues, write to fpiassist&#64;nsdl.com</p>
  <p>
    For compliance/operational queries, FPIs can reach out to their DDP in
    India.
  </p>
</div>
