.input-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.25rem;
}

#form-title {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.radio {
  margin: 1rem 0 2rem 0;
}

.wrapper,
.radio,
.income-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input {
  width: 100%;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.td-wrapper,
.address-text,
.residence,
.last-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.office,
.address,
.applicable {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 1rem 0;
}

#table-text {
  width: 50%;
}

#add {
  text-align: right;
  border-left: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group label span {
  color: #8f1709;
}

.input-group label {
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
}

.input-group .input-item label {
  font-weight: semi-bold;
}

.input-grid .input-item input {
  margin-top: 1.5rem;
}

#owner,
.condition,
.residence,
.income-item {
  margin: 1rem 0 1rem 2rem;
}

.condition,
.expandable {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.income-item label {
  width: 35%;
}

.chose {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-evenly;
}

#next {
  display: flex;
  justify-content: center;
  margin: 4rem 0 2rem;
}

#next-btn {
  font-size: 1rem;
  padding: 0.7rem;
  width: 90%;
  font-weight: 400;
}

.table-header > th {
  border-top: 0;
}

.p-button-icon-only {
  background: transparent !important;
  color: #000 !important;
  border-radius: 50%;
  border: 1px solid #000 !important;
  padding: 0 !important;
  height: 30px !important;
  width: 30px !important;
  margin-left: 5px;
}

#action-btns {
  padding: 5px;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.applicant-type,
.other-entity,
.existing-pan {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin: 1rem 0;
}

.other-entity label {
  width: 100%;
}

.existing-pan label {
  width: 40%;
  font-weight: 400;
}

textarea {
  border: 1px solid #cfd3d4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1rem;
  outline: none;
  border-radius: 8px;
  margin-bottom: 5rem;
}

.common-text {
  margin-left: 2rem;
}

.p-select {
  width: 100% !important;
}

.sub-labels {
  font-weight: 400 !important;
  color: #334155 !important;
}

.header-labels {
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
}

.header-sub-labels {
  font-weight: 400;
  color: #131820;
}
