<p-dialog
  header="Application Preview"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '80vw', maxWidth: '1200px' }"
  [maximizable]="true"
  class="preview-modal-wrapper"
  (onHide)="onHide()"
  (onShow)="onShow()"
  resizable="true"
>
  <app-loader *ngIf="isLoading"></app-loader>

  <div *ngIf="!isLoading" >
    <div class="preview-section">
      <h3>EKYC</h3>
      <app-fvci-form  [applicationId]="applicationId"  [formGroup]="fvciForm" [masterData]="masterData" [applicationData]="applicationData"></app-fvci-form>
      
    </div>

    <div class="preview-section">
      <h3>FVCI Registration</h3>
      <app-registration-form  [applicationId]="applicationId"  [formGroup]="registartionForm" [masterData]="masterData" [applicationData]="applicationData"></app-registration-form>
      
    </div>

    <div class="preview-section">
      <h3>Annexure to CAF</h3>
      <app-annexure-form  [applicationId]="applicationId" [formGroup]="anextureToCafForm" [masterData]="masterData" [applicationData]="applicationData"></app-annexure-form>
      
    </div>

    <div class="preview-section">
      <h3>Declaration and Undertaking</h3>
      <!-- <app-documents-upload [hidden]="currentStep !== 4" [applicationId]="applicationId" [formGroup]="documentUploadForm" [fvciForm]="fvciForm" [masterData]="masterData"></app-documents-upload> -->
      <app-declaration-undertaking   [applicationId]="applicationId" [declarationForm]="declarationAndUndertakimgForm" [applicationData]="applicationData"></app-declaration-undertaking>
    </div>
  </div>

  <div *ngIf="!isLoading && !applicationData" class="no-data-message">
    <p>No application data available for preview.</p>
  </div>

  <ng-template pTemplate="footer">
    <div class="preview-actions">
      <button class="secondary-button" (click)="onHide()">Close</button>
      <!-- <button class="primary-button">Submit Application</button> -->
      <button class="primary-button" (click)="submitApplication()" [disabled]="isSubmitting">
        {{ isSubmitting ? 'Submitting...' : 'Submit Application' }}
      </button>
    </div>
  </ng-template>
</p-dialog>