.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 2.75rem;
}

.input-group2 {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  margin-bottom: 1.25rem;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-header span {
  color: #000;
  font-weight: 500;
  color: #344054;
  font-size: 18px;
}

.form-header p {
  margin-top: 0;
  color: #6b778c;
  font-size: 12px;
}

#form-title {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.wrapper,
.radio,
.income-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.income-item2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper img {
  height: 24px;
  width: 24px;
}

input {
  width: 100%;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 5rem; */
  column-gap: 5rem;
  row-gap: 2rem;
}

.td-wrapper,
.address-text,
.residence,
.last-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.error {
  font-weight: 500;
  color: red;
}

.office,
.address,
.applicable {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ::ng-deep .p-datatable-tbody > tr > td,
  .p-datatable-sort-icon,
  .p-datatable-sort-badge,
  ::ng-deep .p-datatable-thead > tr > th,
  .p-datatable-sort-icon,
  .p-datatable-sort-badge {
    text-align: center !important;
  } */

.full-width {
  width: 70%;
}

#table-text {
  width: 50%;
}

#add {
  text-align: right;
  border-left: none;
}

::ng-deep .p-button-label {
  font-size: 0.7rem;
}

::ng-deep .p-scrollpanel-bar {
  background: grey !important;
}

::ng-deep .fvci-card > .p-card {
  background-color: #f4f5f7;
  margin-top: 7rem;
  position: fixed;
  margin-right: 2rem;
}

.fvci-card form {
  background-color: #fff;
  padding: 1.5rem 3rem;
  border: 1px solid #cfd3d4;
  border-radius: 8px;
}

.card-wrapper {
  margin-left: 1rem;
}

.input-group label span {
  color: #8f1709;
}

.input-group2 label span {
  color: #8f1709;
}

.wrapper a {
  color: #2c3e5d;
  font-size: 12px;
}

::ng-deep .p-card-title {
  font-size: 18px;
}

.input-group label {
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
}

.input-group .input-item label {
  font-weight: 400;
}

.input-group2 label {
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
}

.input-group2 .input-item label {
  font-weight: 400;
}

.input-grid .input-item input {
  margin-top: 0.75rem;
}

#owner,
.condition,
.residence,
.income-item {
  margin: 1rem 0 1rem 2rem;
}

.income-item2 {
  margin-left: 2rem;
}

.condition,
.expandable {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.income-item label {
  width: 35%;
}

.income-item2 label {
  width: 35%;
}

.chose {
  display: flex;
  padding-left: 1rem;
  gap: 5rem;
}

#next {
  display: flex;
  justify-content: center;
  margin: 4rem 0 2rem;
}

#next-btn {
  font-size: 1rem;
  padding: 0.7rem;
  width: 90%;
  font-weight: 400;
}

::ng-deep .p-accordionheader {
  border: 1px solid #e2e8f0 !important;
  border-radius: 0px !important;
  border-bottom: none !important;
}

::ng-deep .p-accordioncontent-content {
  padding: 0 !important;
}

.table-header > th {
  border-top: 0;
}
::ng-deep .p-button-icon-only {
  background: transparent !important;
  color: #000 !important;
  border-radius: 50%;
  border: 1px solid #000 !important;
  padding: 0 !important;
  height: 30px !important;
  width: 30px !important;
  margin-left: 5px;
}

#action-btns {
  padding: 5px;
}

.p-select {
  width: 100% !important;
}

.p-datepicker-panel {
  width: 100% !important;
}

.sub-labels {
  font-weight: 400 !important;
  color: #334155 !important;
}
