<p-toast></p-toast>
<app-header></app-header>

<div class="login-wrapper">
  <div class="login-text">
    <h1>
      Technology, <br />
      <span> Trust & Reach </span>
    </h1>
    <p>
      Foreign Investment inflow is an important reason for India’s economic
      growth. So to simplify compliance requirements and have uniform guidelines
      for various categories of foreign investors like Foreign Institutional
      Investors (FIIs), Sub Accounts and Qualified Foreign Investors (QFIs)
      merged into a new investor class termed as Foreign Portfolio Investors
      (FPIs).
      <!-- <a href="#"> Show More </a> -->
    </p>
    <button
      routerLink="/auth/register"
      pButton
      icon="pi pi-angle-right"
      iconPos="right"
      pRipple
      label="Get Started"
      id="get-started"
    ></button>
  </div>

  <p-card class="p-card" id="login-card">
    <form
      #loginForm="ngForm"
      class="login-form"
      (ngSubmit)="onSubmit(loginForm)"
      id="login-form-card"
    >
      <h1>Login</h1>

      <div class="p-card-content">
        <!-- <p-floatLabel variant="on"> -->
        <div class="all-labels"><label for="email">Email</label></div>
        <input
          type="text"
          pInputText
          class="input"
          id="email"
          name="email"
          [(ngModel)]="login.email"
          pSize="large"
          #email="ngModel"
          required
          autocomplete="off"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
        <!-- </p-floatLabel> -->
        <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="p-error"
        >
          <span *ngIf="email.hasError('required')">Email is required</span>
          <span *ngIf="email.hasError('pattern')">Email is invalid</span>
        </small>
      </div>

      <div class="p-card-content2">
        <!-- <p-floatLabel variant="on"> -->
        <div class="all-labels"><label for="password">Password</label></div>
        <p-password
          [feedback]="false"
          [toggleMask]="true"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          id="password"
          name="password"
          size="large"
          autocomplete="current-password"
          [(ngModel)]="login.password"
          #password="ngModel"
          required
          class="password-field"
        ></p-password>

        <!-- </p-floatLabel> -->
        <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <span *ngIf="password.hasError('required')"
            >Password is required</span
          >
        </small>
      </div>

      <!-- Captcha Section -->
      <div class="p-card-content captcha-section">
        <div class="all-labels">
          <label for="captcha">Enter Captcha</label>
        </div>
        <input
          type="text"
          pInputText
          class="input"
          id="captcha"
          name="captcha"
          [(ngModel)]="captchaInput"
          #captchaCtrl="ngModel"
          pSize="large"
          required
          autocomplete="off"
        />
        <small
          *ngIf="
            captchaCtrl.invalid && (captchaCtrl.dirty || captchaCtrl.touched)
          "
          class="p-error"
        >
          Please enter the captcha text.
        </small>

        <div class="captcha-container">
          <div class="captcha-image">
            <img [src]="captcha" alt="captcha" />
          </div>
          <div
            class="refresh"
            (click)="refreshCaptcha()"
            (keypress)="refreshCaptcha()"
          >
            <i
              class="pi pi-refresh refresh-icon"
              [ngStyle]="{ transform: 'rotate(' + rotationDegree + 'deg)' }"
            ></i>
          </div>
        </div>
      </div>

      <a routerLink="/auth/forgot-password" id="fp">Forgot Password</a>
      <button class="next-button" [disabled]="loginForm.invalid" type="submit">
        Login
      </button>

      <div style="margin-top: 1rem; text-align: center">
        Don't have an account?
        <a routerLink="/auth/register" id="register">Sign Up</a>
      </div>
    </form>
  </p-card>
</div>

<app-footer></app-footer>
<p-confirmDialog [style]="{ width: '450px' }" />
<app-loader *ngIf="showLoader"></app-loader>
